{% extends 'base.html' %}

{% block title %}
Feedback
{% endblock %}

{% block content %}

<!-- User Page -->
<main class="container">

    <div class="comment">
        <h1 class="display-3 pt-4">
            Add Feedback
         </h1>
    </div>
   
    <form id="register-form" method="POST" action="/users/{{user.username}}/feedback/add">
        {{ form.hidden_tag() }} <!--add type=hidden form fields -->
      
        {% for field in form
               if field.widget.input_type != 'hidden' %}
      
        <div class="form-group">
            {{ field.label (class_ = "pt-3")}}
            {{ field (class_ = "form-control")}}
      
            {% for error in field.errors %}
                <small class="form-text text-danger">
                    {{ error }}
                </small>  
            {% endfor %}
        </div>
      
        {% endfor %}

        <div class="pt-3 pb-4">
            <button type="submit" class="btn btn-info">Add</button>
        </div>
        
      </form>
      <a href="/users/{{user.username}}">Back to {{user.username}}</a>
</main>

{% endblock %}